<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/vendor/bootstrap-4.3.1-dist/css/bootstrap.min.css') }}" \
			integrity="" \
			crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom/sticky-footer-navbar.css') }}" >

    <link rel="stylesheet" href="{{ url_for('static', filename='css/vendor/jquery-3.1.1-dist.js') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/vendor/bootstrap-4.3.1-dist/js/bootstrap.min.js') }}" \
			integrity="" \
			crossorigin="anonymous">

		<title>Chatbot Wine Advisor</title>
	</head>


<body>
		<script src="https://cdn.cai.tools.sap/webchat/webchat.js"
		channelId="805ecafa-ff5b-4633-a9b7-a6f2f333174e"
		token="982c220999b95f7796b724032e0d9a41"
		id="cai-webchat">
		</script>
		<div class="container-fluid">
				<h1>Web Advisor Chatbot Demo</h1>
				<p>test</p>
				<footer class="footer">
						<p></p>
				</footer>
		</div>
</body>
</html>
